<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng ký</title>
</head>
<body>
<h2>Đăng ký tài khoản</h2>

<form th:action="@{/bt1}" th:object="${customerForm}" method="post">
    <div>
        <label>Tên:</label>
        <input type="text"  th:field="*{username}" />
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>

    <div>
        <label>Mật khẩu:</label>
        <input type="password" th:field="*{password}" />
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>

    <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}" />
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>

    <div>
        <label>Số điện thoại:</label>
        <input type="text" th:field="*{phoneNumber}" />
    </div>

    <button type="submit">Đăng ký</button>
</form>

<div th:if="${successMessage}" style="color: green;">
    <p th:text="${successMessage}"></p>
</div>
</body>
</html>
